//Color
$primary: #94e2a9;
$secondary: #53268c;
$tertiary: #cb3cb9;
$primary-hover: #7fcf96;
$secondary-hover: #46207a;
$tertiary-hover: #b032a3;
$background: #06170b;
$white: #ffffff;
$black: #000000;

//Font
$font-family: 'Quicksand', sans-serif;
$font-xxl: 40px;
$font-xl: 30px;
$font-lg: 24px;
$font-md: 20px;
$font-sm: 16px;
$font-xs: 14px;
$font-xxs: 12px;